body{
    width: 90vw;
    margin: auto;
    font-family: "Space Mono", serif;
}

video{
    width: 43vw;
}

.video-panel{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#container{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button{
    font-family: "Space Mono", serif;
    padding: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    transition: trasnform 0.2s ease;
    color: white;
    background-color: rgba(0, 0, 255, 0.608);
}

button:active{
    transform: scale(0.96);
}

button:hover{
    background-color: rgba(0, 0, 255, 0.855);
}

p{
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 8px;
}

#start-btn{
    margin-top: 15px;
}

.another-call{
    margin-top: 50px;
    margin-bottom: 50px;
}

.join-call{
    margin-bottom: 20px;
}

input{
    padding: 10px;
    border: 0.5px solid grey;
    width: auto;
}

@media (max-width: 768px) {
    video {
        width: 90vw;
    }

    .video-panel {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}